*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 14px;
    line-height: 24px;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Lato',Times ,serif;
}
.container{
    width: 1160px;
    height: auto;
    margin:  0 auto;
    
}
.row{
    width: 100%;
    float: left;
}
.col-md-6{
    width: 50%;
    float: left;
}
.col-md-12{
    width: 100%;
    float: left;
}
.col-md-4{
    width: 33.33%;
    float: left;
}
li{
    display: inline-block;
}
.header-section{
    background-color: #f6f9f9;
    width: 100%;
    float: left;
    position: fixed;
    z-index: 1;
}
.logo{
    padding: 15px 0;
}
.nav{
    padding: 24px 0;
    text-align: right;

}

.nav-item{
    list-style: none;
    margin-left: 25px;
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
    text-transform: uppercase;
    

}
.nav-link{
    text-decoration: none;
    color: #000;
    transition: 1s;
}
.nav-link:hover{
    color: #f6f9f9;
    scale: 1.3;
    padding: 6px;
    background-color: #15a4fa;
    border-radius: 6px;
}
a{
    text-decoration: none;
}

/* Banner section */

.banner-section{
    width: 100%;
    float: left;
    background-image: url('../image/Banner\ \(1\).png');
    padding: 80px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banner-inner{
    padding: 80px 0;
    text-align: center;
    color: #fff;

}
.banner-inner h1{
    font-weight: 900;
    font-size:80px ;
    margin-bottom: 20px;
    line-height: 60px;
}
.devider{
    width: 40%;
    margin: 25px auto;
    background-color: #15a4fa;
    height: 2px;
    border: none;

}
.banner-inner p{
    font-weight: 500;
    font-size:16px ;
    margin-bottom: 60px;
    line-height: 24px;
}
.btn-info{
    color: #fff;
    border-radius: 5px;
    border: 1px solid #15a4fa;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}
.btn-info:active{
    color: #000;
    font-weight: 600;
}
.btn-info:hover{
    background-color: #15a4fa;


}
.icon{
    padding: 80px 0 40px;
    margin-top: 80px;
    cursor: pointer;
}

/* simple section start */

.simple-section{
    padding: 80px 0;
    width: 100%;
    float: left;
    background-color: #f6f9f9;

}
.simple-section .simple-inner{
    text-align: center;
}
.simple-section .simple-inner h2{
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 20px;
}
.simple-section .simple-inner p{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #999;
}

/* feature section */
.feature-section{
    width: 100%;
    float: left;
    padding: 80px 0;


}

.feature-inner{
    text-align: center;
}
.feature-inner h3{
    font-size: 18px;
    padding: 10px;
}
.feature-inner p{
    font-size: 14px;
    color: #999;
}
.bg{
    background-color: #f6f9f9;
}
.portfolio-section{
     padding: 80px 0;
    width: 100%;
    float: left;
    background-color: #f6f9f9;
    text-align: center;

}
.portfolio-abs{
}
.portfolio-inner{
    position: relative;
}
.port-hover{
    width: 93.5%;
    height: 97.5%;
    position: absolute;
    top: 0;
    left: 12px;
    background-color: rgb(25,156,235,0.8);
    display: none;
}

.inner-icon{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.portfolio-inner:hover .port-hover{
    display: block;
}
 .portfolio-section .portfolio-inner h3{
    font-size: 40px;
    font-weight:400;
    margin-bottom: 20px;
}
 .portfolio-section .portfolio-inner p{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #999;
    padding-bottom: 30px;
}
.top-footer{
     padding: 80px 0;
    width: 100%;
    float: left;
    background-image: url(../image/Stay\ \(2\).png);
    text-align: center;
     align-items: center;
}
.top-footer .top-footer-inner h3{
    font-size:40px;
    color: #fff;
    font-weight: 900;
}
.top-footer .top-footer-inner p{
    font-weight: 600;
    color: gray;
    padding: 30px;
    font-size: 14px;
}


.fullName input{
    background-color: transparent;
    border: 1px solid #999;
    padding: 10px;
    width: 350px;
    border-radius: 5px;
    color: #fff;
    outline: none;
}



.Email-address input{
   background-color: transparent;
    outline: none;
    border: 1px solid #999;
    padding: 10px;
    width: 350px;
    margin-top: 20px;
    color: #fff;
    border-radius: 5px;

}

.message{
    background: transparent;
    height: 150px;
    width: 350px;
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    border: 1px solid #999;
    color: #fff;
}
.message::placeholder{
    font-size: 16px;
}
.checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 120px;
    color: #fff;
    background-color: transparent;
    margin-top: 10px;
}
.checkbox-content{
    display: flex;
    column-gap: 10px;
}
.checkbox .checkbox-content input{
    background: #999;
}
.sbs{
    font-size: 16px;
}
.btn{
    width: 70px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    background: transparent;
    border:1px solid #15a4fa ;color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: 0.5s;
}
.btn:hover{
    background: #15a4fa;
    border: 1px solid #15a4fa;
}

.footer{
    height: 70px;
    background-color: #f6f9f9;
}
.footer-inner{
    display: flex;
    text-align: center;
    justify-content: space-between;
    column-gap: 250px;
    

}
.footer-p{
    padding: 20px;
    color: #999;
    font-weight: 900;
    text-align: center;

}
.footer-images{
    display: flex;
    column-gap: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 70px;
}
.footer-images a{
    font-size: 30px;
    transition: 0.7s;
    color: #15a4fa;

}
.footer-images a:hover{
    scale: 1.3;

}



